{% extends "layout.html" %}

{% block title %}
  About
{% endblock %}

{% block head %}
  About YYK
{% endblock %}

{% block main %}
  <div class="container-fluid w-75 text-justify">
    <h4>
      <p class="text-left">
        "Yes, you Kanji!" is a web application that enables users to learn how to read Japanese from 0 all the way to the
        highest level of the Japanese Language Proficiency Test (JLPT).
      </p>
    </h4>
    <h5>
      <p>
        Reading Japanese fluently requires the knowledge of over 2000 Chinese characters (kanji).
        These kanji are usually categorized by their radical (a smaller part of the kanji).
      </p>
      <p>
        The Japanese government has decided on a list of currently 2136 kanji, called the jouyou kanji, which contains the baseline of kanji every Japanese person should know.
        These kanji are learned by Japanese students in the first 9 grades of school.
      </p>
      <p>
        In order to pass the highest level of the JLPT, N1, it is recommended to have studied an additional 251 kanji, bringing the total amount of kanji to study up to 2387.
      </p>
      <p>
        There are many approaches to studying Japanese and kanji. There are numerous flash card applications and study sites that will enable you to study or teach you Japanese. I have studied Japanese for 14 years, but only in the last 5 years did I really reach a higher level of proficiency. My biggest problem was to find where to start looking for what I need to learn. There is a lot of information out there but some of it is hard to digest and to put into a format that can easily be studied on a daily basis. Some sites have done this legwork but they often require a paid subscription. There are also sites who break down some parts of Japanese study and invent their own parts, which is something that I do not agree with doing.
      </p>
      <p>
        I wanted to create the study application that I wish I had when I started studying Japanese from 0 (well, from 1, really) 5 years ago. An application that will not completely disregard the Japanese grade system, but will still tweak orders here and there to make things a bit more easy to digest. An application that will provide you with what to study in a logical order.
      </p>
      <p>
        In "Yes, you Kanji!" the kanji are ordered by school grade, radical, and stroke count. That means, that for every school grade, you will first learn a radical, then all kanji that belong to that radical in that grade. Then, before moving on to the next kanji or radical, you will learn all new words that you can now read with the kanji you have learned up to this point.
      </p>
      <p>
        This method is not designed to teach you the most useful words first, but to avoid teaching you words for which you have not yet learned the kanji. It is best used alongside a grammar book, as grammar study is not included at this point. (But planned in the future)
      </p>
      <p>
        There are 214 radicals, 2387 kanji and 17685 words in the application. In order to maximize study efficiency, "Yes, you Kanji!" uses the SuperMemo method to present you your reviews just before you would forget them. With this method and the recommended settings, it is possible to learn all kanji within 1 1/2 years, and all words within 3 years, if studied daily. These settings can be changed to ease the burden or pick up the pace.
      </p>
      <p>
        If you always wanted to learn how to read Japanese but didn't know where to start, try "Yes, you Kanji!".
      </p>
    </h5>
  </div>
{% endblock %}