{% extends "layout.html" %}

{% block title %}
  How to use YYK
{% endblock %}

{% block head %}
  How to use YYK
{% endblock %}

{% block main %}
  <div class="container-fluid w-75 text-justify">
    <p class="text-left">
      <h4>
        YYK is designed for people who have a little bit of experience with Japanese. However, it can also be used to start
        studying from scratch.
      </h4>
    </p>
    <p>
      <h5>
        Because of the way that YYK is designed and the order in which it shows you new content, it is best used for people
        who want to get up to speed on reading kanji and vocabulary as fast as possible. In it's current form, YYK does not
        teach Japanese grammar. It also does not teach words in an order that enables learners to start easy conversations
        quickly. Instead, you will only ever see words for which you have already studied the kanji, even if those words may
        only appear much later in regular study programs. Depending on what kanji a word uses, you may come across relatively
        easy words only later in this program.
      </h5>
    </p>
    <br>
    <p>
      <h4>Step 1: Learn kana.</h4>
    </p>
    <p>
      <h5>
        Japanese has two kana syllabaries, as well as kanji and roman letters. YYK is designed to teach you kanji and words
        with kanji. In order to read the readings and understand how to pronounce Japanese, it is recommended to visit the
        "Kana" section in the top menu first. Before you start learning any kanji, you should be able to relatively comfortably
        read hiragana and katakana. You do not need to register for an account in order to study and review kana. There are only
        about 50 different symbols, and combinations of those symbols. Most people learn kana in a couple of weeks. If you don't
        know any kana, start there.
      </h5>
    </p>
    <p>
      <h4>Step 2: Register on YYK.</h4>
    </p>
    <p>
      <h5>
        In order to use the other study functions of this app, you need to register an account. At this time, a username and
        password is all that is needed for account creation. Registering for an account on YYK is free of charge. Once you login
        to YYK, the home page will change to show "Study" and "Review". Reviews will only appear once you have at least completed
        a single study session.
      </h5>
    </p>
    <p>
      <h4>Step 3: Set your own study pace.</h4>
    </p>
    <p>
      <h5>
        Before you dive into studying, consider how much time you want to spend studying in each session and how many new
        kanji and words you want to study per session. If you go to your user profile at the top right of the page, you will
        be able to set study goals for yourself. The recommended settings are 5 kanji and 25 words per session, but they can
        be adjusted at any time, to allow for a more relaxed pace or faster studying. If you are unsure how the settings will
        affect each session, leave the recommended settings at first and adjust as needed.
      </h5>
    </p>
    <p>
      <h4>Step 4: Learn radicals, kanji and words.</h4>
    </p>
    <p>
      <h5>
        Once you click on "Study", you will find that there are three categories, "New Kanji", "New Words", and "Kana Words".
        Study sessions are divided into two parts, kanji and words. You are not required to complete both parts on the same day,
        but your progress will only be recorded if you at least finish one part. Once you finish the set of kanji, the set of
        words for those kanji will become available. For every study session, YYK will check what you have already studied. If
        you have not studied the new set of kanji yet, you won't be able to start studying new words. Sometimes you will unlock
        more words than you have set in your profile. In that case the word study will be split over several sessions and the
        kanji study will only resume in the next session after all connected words have been studied. Once you finish both kanji
        and words of one session, new kanji will become available for the next session. "Kana Words" can be studied at your own
        pace at any time, they are not part of the YYK study rotation at this time. If you only want to learn how to read kanji
        and words that use kanji, you can ignore the kana words.
      </h5>
    </p>
    <p>
      <h4>Step 4.5: How are study sessions designed?</h4>
    </p>
    <p>
      <h5>
        In every study session, YYK will show you each new content once. While studying kanji, YYK will show you a new
        radical every time you are about to study a kanji for which you do not already know the radical. Once all new content
        for a session has been shown once, it will be shown a second time. You can see the content as many times as you like.
        If you click "Again", the content will keep rotating until you have clicked "Got it". If you click "Got it" on all new
        content in a session, the session will finish and your progress will be recorded. If you finished "New Kanji",
        "New Words" will most likely become available.
      </h5>
    </p>
    <p>
      <h4>Step 5: Review radicals, kanji and words.</h4>
    </p>
    <p>
      <h5>
        Once you finished a study session and come back the next time, reviews will become available. Once you click on
        "Review", you will find that there are three categories, "Radicals", "Kanji" and "Words". It is recommended that
        you at least review kanji and words as often as you can, in the best scenario, every day. Reviews will show you content
        that you have already studied in random order. YYK uses the SuperMemo method to calculate the return date of reviews,
        so the amount of reviews may vary greatly from day to day, but will never exceed your settings.
      </h5>
    </p>
    <p>
      <h4>Step 5.5: How are review sessions designed?</h4>
    </p>
    <p>
      <h5>
        In every review session, YYK will try to show you all reviews that are due on that date. If there are more reviews
        due than your settings allow, the remaining reviews will be shown before the next review session. It is recommended
        to do reviews as often as you can, in order to make the most effective use of the SuperMemo method. For every review,
        you will be shown only the radical, kanji or word. Recalling the readings and meanings is up to you. Once you click
        "Reveal", the answers will appear. Rate the quality of your own response on a scale from 0 to 5, where 0 is "Forgotten"
        and 5 is "Perfect". Depending on your response, you may see the same review again in the same session. The less
        comfortable you feel about a review, the faster it will come up again during subsequent reviews. There will be a
        reminder of what each level on the scale means during reviewing.
      </h5>
    </p>
    <p>
      <h4>Step 6: Keep going and check your stats from time to time.</h4>
    </p>
    <p>
      <h5>
        Once you finish your first study session, statistics will become available. Here you can see your overall progress,
        what content you have studied last and how long it will take you to finish YYK at your current pace. Even if you take
        breaks and chance your pace, if you keep going you will be able to study all kanji and words you need to read Japanese
        more proficiently. YYK is currently set up to only allow for one study or review session per type per day. If you want
        to study more, consider adjusting your settings in your profile.
      </h5>
    </p>
    <p>
      <h4>Other information:</h4>
    </p>
    <p>
      <h5>
        The search function, "Radicals", "Kanji" and "Vocabulary" options in the top menu serve as a dictionary to browse the
        contents of this study program. Please note that only entries relevant to this study program can be found within. For
        a more complete dictionary of Japanese, please visit your dictionary site of choice.
      </h5>
    </p>
  </div>
{% endblock %}